@model SharedLibrary.Models.ViewModels.EmployeeAddViewModel

@{
    ViewData["Title"] = "Add Employee";
}

<form asp-controller="Employee" asp-action="PostAdd" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The Name field is required."
               asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="OnBoardDate">OnBoardDate</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The OnBoardDate field is required."
               asp-for="OnBoardDate">
    </div>
    <div class="form-group">
        <label asp-for="BirthDay">BirthDay</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The BirthDay field is required."
               asp-for="BirthDay">
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input class="form-control"
               data-val="true"
               data-val-required="The Phone field is required."
               asp-for="Phone">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>